body{
	background-color:#EEEEEE;
	
}


h1{
	font-family: "Comic Sans MS";
	font-size: 250%;
	color:#333399;
	text-align: center;
}

h2{
	font-family:"Comic Sans MS";
	font-size: 150%;
	color:#666699;
	text-align: left;
}


table,
th,
td {
  	border: 1px solid #cecfd5;
}

th,
td {
  	padding: 10px 15px;
  	font-family: Verdana;
	color:#666666;
	font-style: italic;
}

th{
	font-style:normal;
}
footer{
	clear:both;
	font-family:Verdara;
	color:#999999;
}
